.buttonContainer {
    text-align: center;
}

.listContainer .header{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

.listContainer {
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
}
.listContainer ol li {
    background-color: grey;
    margin: 4px;
    font-family:monospace;
}
