
#User{ 
    background-color: #d0ebf7;    
    font-size: medium;
    border-color: #4287f5;
    border-radius: 5px;  
    padding: 5px;  
}  
#Pass{
    background-color: #d0ebf7;     
    font-size: medium;
    border-color: #4287f5;
    border-radius: 5px;  
    padding: 5px;    
      
}  
#logbutton{  
    background-color:#d0ebf7 ;
    border-color: #4287f5;
    width: 150px;  
    height: 30px;  
    border-radius: 5px;  
    padding: 5px;    
  
}
 
